D:\neurovia-main\Models\model_bone_fracture.h5
D:\neurovia-main\Models\model_brain_tumor.h5
D:\neurovia-main\Models\tuberculosis_classifier2.h5
D:\neurovia-main\universal
D:\neurovia-main\backend\Dna_Visualizer-main\node_modules
