opencv-python
numpy
tensorflow
Flask
Werkzeug
Pillow
python-dotenv
groq
gTTS
translate
pydub
uuid

phidata
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
beautifulsoup4
wikipedia
graphviz
sqlalchemy
pgvector
psycopg[binary]
pypdf
pandas
numpy
ollama
typing
matplotlib
networkx
streamlit
google-generativeai
youtube-transcript-api
pathlib
langchain_groq
flask
PyPDF2
langchain
Pillow
requests
gTTS
translate
openai-whisper
pydub
google-cloud-speech
phidata
python-dotenv
yfinance
packaging
duckduckgo_search
fastapi
uvicorn
groq
wikipedia
co
Flask
flask_cors
requests